:root {
  --text-color: #403f53;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: var(--text-color);
}

.button {
  background-color: #ffffff;
  font-size: 80px;
  color: var(--text-color);
  text-decoration: none;
  border: 3px solid var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  cursor: pointer;
}
